<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Avaliação Formadora II
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Avaliação Formadora II</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Aluno: Matheus Teixeira Mello da Cruz</strong><br>
    <strong>Professor: Oswaldo Peres</strong><br>
    <strong>Módulo: Desenvolvimento de Aplicativos Mobile</strong>
    <ion-button routerLink="/pagina1" expand="block">Página 1</ion-button>
    <ion-button routerLink="/pagina2" expand="block">Página 2</ion-button>
  </div>

</ion-content>